/*VARIABLES*/
$primary-color: #88E0EF;
$secondary-color: #161E54;
$tertiary-color: #FF5151;
$extra-color: #FF9B6A;

.navbar__toolbar{
  background-color: $primary-color;
  height: 60px;
  position: relative;
}

.navbar__button{
  background-color: $primary-color;
  margin-left: 93%;
  position: absolute;
}

.navbar__mat-button{
  margin-left: 50px;
  font-family: 'Didact Gothic', sans-rif;
  font-size: 15px;
}

.container{
  height: 20px;
  width: 100%;
  background-color: $secondary-color;
}
