<div class="title">
  <img class="title__img" height="100px" src="assets/img/sass%20(1).png" width="100px">
  <h1 class="title__title">Practica Sass</h1>
</div>
<div class="card">
  <mat-card class="card__example-card">
    <mat-card-header>
      <div class="card__example-header-image" mat-card-avatar></div>
      <mat-card-title class="card__card-title">Shiba Inu</mat-card-title>
      <mat-card-subtitle class="card__card-subtitle">Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img class="card__img"  alt="Photo of a Shiba Inu" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
    <mat-card-content class="card__card-text">
      <p class="card__p">
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="card__button" mat-button>LIKE</button>
      <button class="card__button" mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>

  <div class="cardBorder">
    <div class="cardBorder__exampleImg">
      <img class="cardBorder__img" height="95px" src="assets/img/graduates.png" width="95px"><br>
      <span>example mixin</span>
    </div>
  </div>

  <div class="cardBorderDos">
    <div class="cardBorder__exampleImg">
      <img class="cardBorderDos__img" height="95px" src="assets/img/logoTutoSearch.png" width="95px"><br>
      <span>example mixin</span>
    </div>
  </div>

  <div class="table">
    <h1 class="table__title">@EACH</h1>
    <div class="table__icons">
      <a class="table__a" href="">
        <li class="graduates">icons</li>
      </a>
      <a class="table__a" href="">
        <li class="logoTutoSearch">icons</li>
      </a>
      <a class="table__a" href="">
        <li class="professor">icons</li>
      </a>
      <a class="table__a" href="">
        <li class="sass">icons</li>
      </a>
    </div>
  </div>

  <div class="cajas">
    <h1 class="cajas__title">@FOR</h1>
    <div class="cajas__caja1"></div>
    <div class="cajas__caja2"></div>
    <div class="cajas__caja3"></div>
    <div class="cajas__caja4"></div>
    <div class="cajas__caja5"></div>
  </div>

  <div class="selectors">
    <h1 class="selectors__title">@WHILE</h1>
    <div class="selectors__selector1"></div>
    <div class="selectors__selector2"></div>
    <div class="selectors__selector3"></div>
    <div class="selectors__selector4"></div>
    <div class="selectors__selector5"></div>
    <div class="selectors__selector6"></div>
    <div class="selectors__selector7"></div>
    <div class="selectors__selector8"></div>
  </div>

  <div class="alertas">
    <h1 class="alertas__title">ALERTS</h1>
    <div class="alertas__succes">Succes</div>
    <div class="alertas__warning">Warning</div>
    <div class="alertas__danger">Danger</div>
  </div>

  <div class="ft">
    <footer class="ft__footer">
      @Copyrigth
    </footer>
  </div>
</div>


