$primary-color: #88E0EF;
$secondary-color: #161E54;
$tertiary-color: #FF5151;
$extra-color: #FF9B6A;
$Danger: #FF0B0B;
$Warning: #FF640B;
$Successful: #0B25FF;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);
$tamaños: 500px, 150px, 150px;
/*to do: faltantes list, selector, meta*/

@use "sass:math";
@use "sass:string";
@use "sass:color";
@use "sass:list";
@use "sass:map";
@use "sass:selector";/*pendiente*/
@use "sass:meta";/*pendiente*/

/* Tamaño de fuente predeterminado en píxeles si no se reemplaza. */
$baseFontSize: 16;

/* Convertir PX en EMs.*/
@function functionConvert($pxval, $base: $baseFontSize) {
  @return #{$pxval / $base}em;
}


@mixin select($var) {
  $var: selector.extend("a.disabled", "h1", "h2");
}

/*color hace llamada a las variables definidas $primary-color y así cambiar los border */
.modulos__button {
  color: $extra-color;
  border: 1px solid color.scale($primary-color, $lightness: 20%);
}

.suscribe__button {
  left: 95%;
  top: 90%;
  position: fixed;
  background-color: #161E54;
}

/*el elemeto pi con el modulo math multiplican el valor asigando para el margin-top*/
.title {
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  margin-top: 25px * math.$pi;
}

/*string and map*/
.modulos__title {
  margin-top: 5rem;
  font-family: string.slice("Helvetica Neue", 1, 3);
  font-weight: map.get($font-weights, "bold");
}

.modulos__titleTwo {
  font-size: functionConvert($pxval: 47, $base: $baseFontSize)
}

.modulos__math {
  text-align: center;
}

/*sass:list*/
.modulos__img{
  width: list.nth($tamaños,2);
  margin-left: 45%;
}


