<div class="dialog" mat-dialog-content>
  <p>Example Form</p>
  <mat-form-field appearance="fill">
    <mat-label>username</mat-label>
    <input matInput placeholder="Placeholder">
    <mat-icon matSuffix>how_to_reg</mat-icon>
  </mat-form-field>
  <br>
  <!--email-->
  <mat-form-field appearance="fill">
    <mat-label>Enter your email</mat-label>
    <input [formControl]="email" matInput placeholder="pat@example.com" required>
    <mat-icon matSuffix>mail</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <br>
  <!--password-->

  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input [formControl]="password" [type]="hide ? 'password' : 'text'" matInput required>
    <mat-error *ngIf="password.invalid">{{getErrorPassword()}}</mat-error>
    <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button
            matSuffix>
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>

  <div mat-dialog-actions>
    <button (click)="onNoClick()" color="primary" mat-button>cancel</button>
    <button [mat-dialog-close]="true" cdkFocusInitial color="accent" mat-button (click)="openSnackBar()">save</button>
  </div>
</div>
